
.muneco{
    display: none;
}
.result{
    display: flex;
    flex-direction: column;
    color: black;
    background-color: white;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0,0,0, 0.08);
    text-align: center;
    text-justify: center;
    min-height: 166px;
    width: 90vw;
    border: none;
    height: auto;
    border: 1rem;
}
.result::placeholder{
    font-size: 1.7rem;
    font-weight: 600;
    color: black;
}

@media screen and (min-width: 1024px) {
    .muneco{
        display: block;
    }
}

