$dB300: #0A3871;
$lB100: #F3F5FC;

.text-input{
    padding-top: 1rem;
    background-color: $lB100;
    border: none; 
    color: $dB300;
    width: 90vw;
    font-size: 1.7rem;
    min-height: 20vh;
    text-align: left;
    word-wrap: break-word;
}
.text-input::placeholder{
    color: $dB300
    }

.text-input::marker{
    border: #0A3871 solid 1px;
}

@media screen and (min-width: 767px) {
    .text-input{
        min-height: 30vh;
    }
}

@media screen and (min-width: 1024px) {
    .text-input {
        width: 45vw;
    }
}
